<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.toolshop.reporting.ExtentReportListener"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.toolshop.tests.BrandPostValidationTests"/>
      <class name="com.toolshop.tests.BrandGetValidationTests"/>
      <class name="com.toolshop.tests.BrandPutValidationTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
